.disclaimer {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to left, rgb(53, 159, 230), rgb(247, 247, 247));
}

.vhc {
    display: flex;
    justify-content: center;
}

.vhc * {
    line-height: 22px;
}

.container {
    position: relative;
    margin-top: 50px;
    display: inline-block;
    padding: 5px;
    width: 50%;
    border-radius: 8px;
    background: white;
    border: 2px solid #dadce0;
    box-shadow: 2px 2px 12px black;
    cursor: pointer;
    transition: all 0.8s;
}

.container:hover {
    box-shadow: 10px 10px 50px black;
}

ul li {
    padding: 5px;
}

header {
    color: white;
    background: rgb(150, 198, 243);
    width: 60%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-left-radius: 22px;
    margin-top: -7px;
}

.left {
    position: fixed;
    left: 0px;
    height: 100%;
    margin-top: 20px;
}

#head {
    width: 100%;
    background: #dc3545;
    color: white;
    text-align: center;
    position: fixed;
    margin-top: 0px;
    z-index: 1;
}

a {
    text-decoration: none;
    color: teal;
}

.sm img {
    margin-top: 10px;
    width: 40px;
    margin-right: 40px;
}

.sm img:hover {
    width: 50px;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
    }

    .container:hover {
        box-shadow: 10px 10px 50px black;
    }

    .sm img {
        margin-right: 10px;
    }
}